<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>DeployApp</display-name>
    <servlet>
    	<description>
    	</description>
    	<display-name>Test</display-name>
    	<servlet-name>Test</servlet-name>
    	<servlet-class>lu.intech.servlets.Test</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>Test</servlet-name>
    	<url-pattern>/Test</url-pattern>
    </servlet-mapping>
    
    <servlet>
    	<description>
    	</description>
    	<display-name>Bdd1</display-name>
    	<servlet-name>Bdd1</servlet-name>
    	<servlet-class>lu.intech.bdd.Bdd1</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>Migrate</display-name>
    	<servlet-name>Migrate</servlet-name>
    	<servlet-class>migration.Migrate</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>Bdd2</display-name>
    	<servlet-name>Bdd2</servlet-name>
    	<servlet-class>lu.intech.bdd.Bdd2</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>Bdd3</display-name>
    	<servlet-name>Bdd3</servlet-name>
    	<servlet-class>lu.intech.bdd.Bdd3</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>Flip1</display-name>
    	<servlet-name>Flip1</servlet-name>
    	<servlet-class>lu.intech.bdd.Flip1</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>Flip2</display-name>
    	<servlet-name>Flip2</servlet-name>
    	<servlet-class>lu.intech.bdd.Flip2</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>Bdd4</display-name>
    	<servlet-name>Bdd4</servlet-name>
    	<servlet-class>lu.intech.bdd.Bdd4</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>Bdd1</servlet-name>
    	<url-pattern>/bdd1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>Migrate</servlet-name>
    	<url-pattern>/Migrate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>Bdd2</servlet-name>
    	<url-pattern>/bdd2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>Bdd3</servlet-name>
    	<url-pattern>/bdd3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>Flip1</servlet-name>
    	<url-pattern>/Flip1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>Flip2</servlet-name>
    	<url-pattern>/Flip2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>Bdd4</servlet-name>
    	<url-pattern>/bdd4</url-pattern>
    </servlet-mapping>
    
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        </welcome-file-list>
    </web-app>
